<div class="budgets__wrapper">
  <staging-warning></staging-warning>
  <apply-update></apply-update>

  <div class="budgets-header">
    <div class="budgets-header__container">
      <div class="budgets-header__title">Financier</div>

      <ul class="budgets-header__actions">
        <li
          class="budgets-header__action"
          ng-if="!userCtrl.email"
          ng-click="userCtrl.signin()"
        >
          {{'LOGIN' | translate}}
        </li>

        <sync-status
          status="userCtrl.status"
          ng-if="userCtrl.email"
        ></sync-status>

        <li
          class="budgets-header__action"
          ng-if="userCtrl.email"
          logout="userCtrl.logout()"
          position="bottom center"
          logout-and-remove="userCtrl.logoutAndRemove()"
          ladda="userCtrl.logoutLoading"
        >
          {{'LOGOUT' | translate}}
        </li>
      </ul>
    </div>
  </div>

  <!-- <service-worker-status></service-worker-status> -->

  <div class="budgets">

    <ul class="budgets__budgets" disable-ng-animate>
      <li
        class="budgets__flipper"
        ng-class="{'budgets__flipper--open': budgetsCtrl.isRemoving(budget)}"
        ng-repeat="budget in budgetsCtrl.budgets | orderBy: budgetsCtrl.budgetOrder : true"
      >
        <div class="budgets__budget-remove">
          <header
            translate="REMOVE_BUDGET_CONFIRMATION"
            translate-values="{name: budget.name}"
          ></header>

          <div>
            <button class="danger" ng-click="budgetsCtrl.remove(budget)">
              {{'REMOVE' | translate}}
            </button>
            <button ng-click="budgetsCtrl.removing(null, $event)">
              {{'CANCEL' | translate}}
            </button>
          </div>
        </div>
        <div
          class="budgets__budget"
          ng-class="{'budgets__budget--loading': budget.loading}"
          ui-sref="user.app.manager.view.budget({budgetId: budget.id})"
          ng-click="budget.loading = true"
          ng-right-click="budgetsCtrl.removing(budget, $event)"
        >
          <div class="budgets__budget-name">{{budget.name}}</div>
          <div
            class="budgets__budget-opened"
            ng-if="budgetsCtrl.budgetsOpened[budget.id].opened"
            title="{{budgetsCtrl.budgetsOpened[budget.id].opened | date: 'medium'}}"
          >
            <sub>{{'LAST_OPENED' | translate}}</sub
            ><br />{{budgetsCtrl.budgetsOpened[budget.id].opened | timeAgo}}
          </div>

          <div
            class="budgets__budget-close"
            ng-click="budgetsCtrl.removing(budget, $event)"
            tabindex="0"
          >
            +
          </div>

          <div
            class="budgets__budget-edit"
            ng-click="budgetsCtrl.edit(budget, $event)"
            tabindex="0"
          >
            <i class="fa fa-cog"></i>
          </div>

          <div class="budgets__budget-loader"></div>
        </div>
      </li>

      <li class="budgets__flipper">
        <div class="budgets__budget" ui-sref="user.budget.create">
          <div class="budgets__budget-new-icon">+</div>
        </div>
      </li>
    </ul>

    <div ng-if="userCtrl.isFree === true">

      <button class="button" ng-click="userCtrl.removeLocalData()">
        <i class="fa fa-times"></i> {{'REMOVE_LOCAL_BUDGETS' | translate}}
      </button>
    </div>

    <div ng-if="userCtrl.loadingFailed">
      <p>{{'LOADING_SUBSCRIPTIONS_FAILED_EXPLANATION' | translate}}</p>

      <button class="button" ng-click="userCtrl.removeLocalData()">
        <i class="fa fa-times"></i> {{'REMOVE_LOCAL_BUDGETS' | translate}}
      </button>
    </div>

    <div ng-if="userCtrl.isFree === false">
      <p
        ng-if="(userCtrl.loadingSubscription || userCtrl.loadingSource) && !userCtrl.loadingFailed"
      >
        {{'LOADING_SUBSCRIPTION' | translate}}
      </p>
      </div>
    </div>

  <div class="budgets-footer">
    <div class="budgets-footer__container">
      <div class="budgets-footer__website">
      </div>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/financier-io/financier/releases/tag/v{{version.number}}"
        class="budgets-footer__version"
        translate="VERSION_INFORMATION"
        translate-values=":: version"
      ></a>
    </div>
  </div>
</div>
